h1 {
  text-decoration: underline;
}

.container {
  height: 300px;
  width: 300px;
  border: 2px solid #333;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
